.advantages__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 42px;
}

.advantages__title {
  margin: 0;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.advantages__item {
  position: relative;
}

.advantages__item-about {
  display: block;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 80px;
  padding-right: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

.advantages__item-about--leafe::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-color: #68b738;
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.advantages__item-about--plate::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-color: #68b738;
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.advantages__item-about--fork::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-color: #68b738;
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.advantages__item-about--clock::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0;
  top: 0;
  background-color: #68b738;
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
