.catalog__wrapper {
  display: flex;
  flex-direction: column;
}

.catalog__item {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}

.catalog__item-wrapper {
  position: relative;
  background-color: #ffffff;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.catalog__img-wrapper {
  position: relative;
}

.catalog__img {
  position: absolute;
  top: -21px;
}

.catalog__about-wrapper {
  margin-left: auto;
  width: 140px;
}

.catalog__list {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 23px;
  letter-spacing: 0.5px;
}

.catalog__list td {
  padding: 0 1px;
  border-bottom: 1px solid #cdcdcd;
}

.catalog__list  td:last-child {
  text-align: right;
}

.catalog__title-item {
  display: block;
  width: 88px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 1px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.catalog__item-btn {
  width: 280px;
  background-color: #68b738;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.catalog__item-btn:hover {
  background-color: #5eaa2f;
}

.catalog__item-btn:active {
  opacity: 0.3;
  background-color: #5eaa2f;
}

.catalog__list {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.catalog__more {
  // margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.catalog__more-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 3px;
}

.catalog__plus-wrapper {
  margin-bottom: 21px;
}

.catalog__show-items {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.catalog__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 22px;
  letter-spacing: 1.2px;
}

.catalog__more-btn {
  width: 280px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  background-color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.catalog__more-btn:hover {
  background-color: #ebebeb;
}

.catalog__more-btn:active {
  opacity: 0.3;
  background-color: #ebebeb;
}

@media (min-width: @tablet-widths) {
  .catalog__wrapper {
    width: 708px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .catalog__item {
    border-bottom: none;
    margin-bottom: 20px;
    margin-bottom: 143px;
  }

  .catalog__item-wrapper {
    position: relative;
    box-sizing: border-box;
    background-color: #f2f2f2;
    width: 324px;
    margin: 0;
    padding-top: 162px;
    padding-left: 38px;
    padding-right: 37px;
    padding-bottom: 37px;
  }

  .catalog__item:nth-last-child(-n+2) {
    margin-bottom: 40px;
  }

  .catalog__item:nth-child(odd) {
    margin-right: 60px;
  }

  .catalog__img-wrapper {
    position: relative;
  }

  .catalog__img {
    position: absolute;
    top: -220px;
    left: 26%;
  }

  .catalog__list {
    margin-bottom: 33px;
  }

  .catalog__list td {
    padding: 8px 1px;
  }

  .catalog__img-small {
    width: 320px;
    height: auto;
    top: -208px;
    left: -15%;
  }

  .catalog__img-big {
    width: 320px;
    height: auto;
    top: -243px;
    left: -15%;
  }

  .catalog__item-btn {
    width: 249px;
  }

  .catalog__about-wrapper {
    margin-left: 0;
    width: 249px;
  }

  .catalog__list {
    font-size: 16px;
    color: #4c4c4c;
  }

  .catalog__title-item {
    width: 128px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 17px;
  }

  .catalog__more {
    border-bottom: none;
    margin-bottom: 20px;
  }

  .catalog__more-wrapper {
    box-sizing: border-box;
    width: 324px;
    margin: 0;
    // margin-bottom: 140px;
    padding-top: 53px;
    padding-left: 38px;
    padding-right: 37px;
    padding-bottom: 40px;
  }

  .catalog__plus {
    width: 60px;
    height: auto;
  }

  .catalog__plus-wrapper {
    margin-bottom: 47px;
  }

  .catalog__slogan {
    width: 167px;
    font-size: 16px;
    margin-top: 27px;
    letter-spacing: 1.7px;
    margin-bottom: 89px;
  }

  .catalog__show-items {
    width: 135px;
    font-size: 20px;
    text-align: center;
  }

  .catalog__slogan {
    text-align: center;
  }

  .catalog__more-btn {
    width: 247px;
  }

}

@media (min-width: @desktop-widths) {
  .catalog__wrapper {
    width: 1220px;
  }

  .catalog__item {
    margin-right: 80px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }

  .catalog__item-wrapper {
    width: 245px;
  }

  .catalog__about-wrapper {
    margin-left: 0;
    width: 169px;
  }

  .catalog__img {
    left: 11%;
  }

  .catalog__item-btn {
    width: 169px;
  }

  .catalog__more-wrapper {
    width: 245px;
    text-align: center;
    padding-top: 121px;
  }

  .catalog__show-items {
    width: 135px;
  }

  .catalog__slogan {
    width: 165px;
    font-size: 16px;
  }
}
