.categories__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 0x;
  padding-right: 0;
}

.categories__weight,
.categories__masses {
  position: relative;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 31px;
}

.categories__weight {
  margin-bottom: 20px;
}

.categories__image-wrapper {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 22px;
  top: 24px;
  border-radius: 100%;
  background-color: #68b738;
}

.categories__image--stay {
  width: 36px;
  height: 61px;
  z-index: 2;
  position: absolute;
  top: -8px;
  left: 7px;
}

.categories__image--walk {
  z-index: 2;
  width: 67px;
  height: 58px;
  position: absolute;
  top: -4px;
  left: -9px;
}

.categories__weight-title,
.categories__masses-title {
  display: block;
  padding-left: 72px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 28px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
}


.categories__weight-about,
.categories__masses-about {
  margin: 0;
  padding-right: 8px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  letter-spacing: 1.5px;
}

.categories__weight-catalog,
.categories__masses-catalog {
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 22px;
  border-top: 1px solid #d9d9d9;
  margin-top: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #111111;
  box-sizing: border-box;
}

.categories__weight-catalog:hover,
.categories__masses-catalog:hover {
  opacity: 0.3;
}

.categories__weight-catalog::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  left: 98px;
  top: 19px;
  background-color: transparent;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.categories__masses-catalog::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  left: 96px;
  top: 19px;
  background-color: transparent;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: @tablet-widths) {
  .categories__wrapper {
    flex-direction: column;
    width: 708px;
    padding: 0;
  }
  .categories__weight,
  .categories__masses {
    padding-left: 0;
    padding-right: 0;
  }

  .categories__image-wrapper {
    position: absolute;
    right: 62px;
    left: auto;
    top: 22px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #68b738;
  }

  .categories__weight-title,
  .categories__masses-title {
    padding-left: 54px;
    font-size: 36px;
  }

  .categories__weight-catalog,
  .categories__masses-catalog {
    border-top: none;
    margin-left: 54px;
    font-size: 20px;
    line-height: 20px;
  }

  .categories__weight-catalog::before {
    left: 130px;
  }

  .categories__masses-catalog::before {
    left: 130px;
  }

  .categories__masses-about {
    width: 334px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 54px;
    letter-spacing: 1.5px;
  }

  .categories__weight-about {
    width: 366px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 54px;
    letter-spacing: 1.5px;
  }

  .categories__image {
    width: 200px;
    height: 200px;
    top: -11px;
    left: -7px;
  }

  .categories__image--walk {
    width: 264px;
    height: 242px;
    left: -30px;
    top: -18px;
  }


    .categories__wrapper .categories__weight {
      padding-top: 77px;
      margin-bottom: 31px;
      padding-bottom: 39px;
    }

    .categories__wrapper .categories__masses {
      padding-top: 77px;
      padding-bottom: 41px;
    }

    .categories__weight .categories__image-wrapper {
      top: 92px;
    }

    .categories__image-wrapper .categories__image--stay {
      width: 200px;
      height: 193px;
      top: -11px;
      left: 0px;
    }

    .categories__image-wrapper .categories__image--walk {
      width: 268px;
      height: 242px;
      left: -36px;
      top: -22px;
  }

    .categories__weight .categories__weight-title {
      padding-bottom: 24px;
    }

    .categories__masses .categories__masses-title {
      padding-bottom: 24px;
    }

    .categories__weight .categories__weight-catalog {
      margin-top: 38px;
    }

    .categories__masses .categories__masses-catalog {
      margin-top: 38px;
    }

    .categories__weight {
      padding-bottom: 20px;
    }

    .categories__masses .categories__image-wrapper {
      right: 60px;
      top: 92px;
    }

    .categories__masses .categories__masses-catalog::before {
      left: 124px;
      width: 24px;
      top: 22px;
    }
}

@media (min-width: @desktop-widths) {
  .categories__wrapper {
    flex-direction: row;
    width: 1220px;
    padding: 0;
  }

  .categories__image-wrapper {
    position: absolute;
    right: auto;
    left: 52px;
    top: 42px;
    width: 100px;
    height: 100px;
  }

  .categories__image--stay {
    width: 70px;
    height: 97px;
    left: 10px;
    top: -10px;
  }

  .categories__image--walk {
    width:134px;
    height: 56px;
    left: -19px;
    top: 25px;
  }

  .categories__weight,
  .categories__masses {
    width: 570px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 75px;
  }

  .categories__weight {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 80px;
  }

  .categories__masses {
    display: flex;
    flex-direction: column;
  }

  .categories__weight-title,
  .categories__masses-title {
      padding-left: 216px;
      padding-bottom: 70px;
    }

  .categories__weight-catalog,
  .categories__masses-catalog {
    border-top: none;
  }

  .categories__weight .categories__image-wrapper {
    top: 46px;
  }

  .categories__image-wrapper .categories__image--stay {
    width: 71px;
    height: 97px;
    left: 13px;
    top: -6px;
  }

  .categories__weight .categories__weight-about {
    width: 458px;
    letter-spacing: 1.5px;
  }

  .categories__weight .categories__weight-catalog {
    margin-top: 17px;
  }

  .categories__weight .categories__weight-title,
  .categories__masses .categories__masses-title {
    padding-bottom: 68px;
  }

  .categories__wrapper .categories__weight {
    padding-bottom: 40px;
    margin-bottom: 0;
  }

  .categories__masses .categories__image-wrapper {
    top: 46px;
  }

  .categories__masses .categories__image--walk {
    width: 135px;
    height: 204px;
    left: -19px;
    top: -52px;
  }

  .categories__masses .categories__masses-about {
    width: 444px;
    letter-spacing: 1.5px;
  }

  .categories__masses .categories__masses-catalog {
    margin-top: 17px;
  }

  .categories__masses .categories__masses-catalog::before {
    left: 125px;
    top: 22px;
  }

  .categories__weight-title,
  .categories__masses-title {
    padding-left: 214px;
  }
}
