.contacts__wrapper {
  width: 320px;
  min-height: 476px;
  margin: 0 auto;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-color: #d3e3e1;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 767px) and (min-resolution: 144dpi),
  (max-width: 767px) and (min-resolution: 1.5dppx) {
  background-image: url("../img/bg-map-mobile@2x.png");
  }
}

.contacts__adress {
  display: flex;
  width: 320px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  padding-bottom: 25px;
}

.contacts__adress--white-background {
  background-color: #ffffff;
}

.contacts__adress--gray-background {
  background-color: #f2f2f2;
}

.contacts__invite {
  display: block;
  width: 140px;
  margin: 0;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
}

.contacts__drive {
  display: block;
  width: 140px;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  letter-spacing: 1.5px;
}

.contacts__city {
  display: block;
  margin-top: 0px;
}

@media (min-width: @tablet-widths) {
  .contacts__wrapper {
    width: 100%;
    min-height: 597px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-color: #d3e3e1;
    background-position: bottom;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  .contacts__adress {
    width: 100%;
    padding-left: 73px;
    padding-right: 71px;
    justify-content: space-between;
    padding-top: 66px;
    padding-bottom: 54px;
  }

  .contacts__invite {
    width: 155px;
    font-size: 20px;
    line-height: 24px;
    padding-top: 0;
    padding-bottom: 10px;
  }

  .contacts__drive {
    width: 172px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 1.5px;
  }

  .contacts__city {
    display: block;
    margin-top: 18px;
  }
}

@media (min-width: @desktop-widths) {
  .contacts__wrapper {
    width: 100%;
    min-height: 399px;
    background-color: transparent;
    padding-top: 92px;
    box-sizing: border-box;
    background-image: url("../img/bg-map-desktop@1x.png");
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-desktop@2x.png");
    }
  }

  .contacts__adress {
    width: 570px;
    height: 200px;
    background-color: #ffffff;
    padding-left: 76px;
    padding-right: 71px;
    padding-top: 61px;
    padding-bottom: 72px;
    justify-content: space-between;
    margin-left: 110px;
  }

  .contacts__invite {
    width: 155px;
    font-size: 20px;
    line-height: 24px;
    padding-top: 5px;
    padding-bottom: 25px;
  }

  .contacts__drive {
    width: 172px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    letter-spacing: 1.5px;
  }

  .contacts__city {
    display: block;
    margin-top: 21px;
  }
}
