
.example__wrapper {
  position: relative;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 37px;
  padding-top: 33px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.example__title {
  margin: 0;
  // text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.example__about {
  padding-right: 58px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

.example__period {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.example__weight,
.example__weight-measurement,
.example__days,
.example__days-measurement {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
}

.example__weight-measurement,
.example__days-measurement {
  text-transform: uppercase;
}

.example__weight,
.example__days {
  position: relative;
  width: 122px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}

.example__weight-about {
  position: absolute;
  width: 87px;
  bottom: -18px;
  right: 16px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
}

.example__days-about {
  position: absolute;
  width: 87px;
  bottom: -18px;
  right: 16px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
}

.example__price {
  margin-left: 47px;
  margin-top: 40px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
}

.example__indicators {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  align-items: center;
}

.example__befor,
.example__after {
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
}

.example__circul {
  width: 84px;
  height: 14px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  border-radius: 15px;
  padding-left: 5px;
  padding-top: 3px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
}

.example__circul-green {
  display: block;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #111111;
}

@media (min-width: @tablet-widths) {
  .example__wrapper {
    width: 708px;
    height: 620px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 50px;
    background-color: #ffffff;
    margin-bottom: 460px;
  }

  .example__period {
  align-items: center;
}
  .example__about {
    font-size: 16px;
    line-height: 24px;
  }

  .example__weight {
    margin-right: 40px;
  }

  .example__weight,
  .example__days {
    width: 162px;
    box-sizing: border-box;
  }

  .example__weight-about,
  .example__days-about {
    width: 110px;
    background-color: #ffffff;
    padding: 0;
    bottom: -4px;
    right: 24px;
    font-size: 14px;
    line-height: 14px;
  }
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 56px;
  }

  .example__price {
    margin: 0;
    margin-left: auto;
    width: 128px;
    text-align: right;
  }

  .example__wrapper-image {
    position: absolute;
    width: 708px;
    height: 460px;
    background-color: #f2f2f2;
    top: 600px;
  }

  .example__indicators {
    position: absolute;
    width: 570px;
    bottom: -400px;
    margin-top: 0;
    left: 70px;
  }

  .example__befor,
  .example__after {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-widths) {
  .example__wrapper {
    width: 1220px;
    height: 620px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: #ffffff;
    margin-bottom: 460px;
  }

  .example__about {
    font-size: 16px;
    line-height: 24px;
  }

  .example__weight-about,
  .example__days-about {
    background-color: #ffffff;
    padding: 0;
  }

  .example__wrapper-image {
    background-color: #f2f2f2;
    top: 200px;
  }

  .example__indicators {
    position: absolute;
    width: 570px;
    bottom: 70px;
    margin-top: 0;
    left: 70px;
  }

  .example__befor,
  .example__after {
    font-size: 20px;
    line-height: 20px;
  }
}
