.main-nav__items {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #e6e6e6;
}

.main-nav__lists {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  padding-top: 23px;
  padding-bottom: 22px;
  //position: relative;
}

.main-nav__list {
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

.main-nav__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 22px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #111111;
}

@media (min-width: @tablet-widths) {
  .main-nav {
    display: flex;
  }

  .main-nav__items {
    display: flex;
  }

  .main-nav__lists {
    display: flex;
  }

  .main-nav__item-btn--off,
  .main-nav__item--off {
    display: none;
  }
}

@media (min-width: @desktop-widths) {
  .main-nav {
    display: flex;
  }

  .main-nav__items {
    display: flex;
  }

  .main-nav__lists {
    display: flex;
  }

  .main-nav__item-btn--off,
  .main-nav__item--off {
    display: none;
  }
}
